/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/out
/.repl
.idea
*.iml
**/out/*
resources/public/cljs/test
profiles.clj
Procfile
/db
figwheel_server.log
ringer
node_modules
